body {
    background-color: #474747;
}
 h1{
     color: azure;
 }
 #background-image{
     height: 83%;
     width: 100%;
     background-image: url(DSC03254-Bearbeitet+2.jpg);
 }
#test{
    position: relative;
    left: 50%;
    top: 50%;
}